@model MyWeb.Models.Meal

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Meal</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddCart">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MID" />
            <div class="form-group">
                <label asp-for="R_Name" class="control-label"></label>
                <label asp-for="R_Name" class="form-control"></label>
                <input asp-for="R_Name" class="form-control" />
                <span asp-validation-for="R_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M_Name" class="control-label"></label>
                <input asp-for="M_Name" class="form-control" />
                <span asp-validation-for="M_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M_InFo" class="control-label"></label>
                <input asp-for="M_InFo" class="form-control" />
                <span asp-validation-for="M_InFo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M_Price" class="control-label"></label>
                <input asp-for="M_Price" class="form-control" />
                <span asp-validation-for="M_Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="M_ImgFile" class="control-label"></label>
                <input asp-for="M_ImgFile" class="form-control" />
                <span asp-validation-for="M_ImgFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" name="name" value="送出" class="btn btn-facebook" />
            </div>

                

        </form>
    </div>
</div>

<div>
    <a asp-action="IndexCustomers" asp-controller="Meals" asp-route-name="@ViewBag.Name" class="btn btn-dribbble">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
