@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    <p style="font-size:8em;margin-top:250px">Welcome Ted Order</p>
    <p style="font-size: 2em; margin-top:50px">Please Login</p>
</div>
